body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EA2027;
}

h1 {
	color: #fff;
	font-size: 50px;
}

span:before {
	content: 'TRANSITIONS';
	text-transform: uppercase;
	font-family: arial;
	color: #1b1464;
	animation: word-switch 3s infinite alternate 1s;
}

@keyframes word-switch {
	0% {
		content: 'TRANSITIONS';
	}

	50% {
		content: 'ANIMATIONS';
	}

	100% {
		content: 'TRANSFORMS';
	}
}