body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #006266;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul:hover a {
  filter: blur(5px);
}

ul li {
  margin: 0px 20px;
  transition: all 0.5s;
}

ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
}

ul li a:hover {
  transform: scale(1.5);
  filter: blur(0);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ee5a24;
  transition: all 0.3s;
  z-index: -1;
  transform: scale(0);
}

ul li a:hover:before {
  transform: scale(1);
}
