* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1f2f;
  overflow: hidden;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: -1;
  animation: semicircle 4s ease-in-out infinite;
}

.loader:before {
  content: '';
  position: absolute;
  top: 100px;
  width: 200px;
  height: 100px;
  background-color: #06c8f0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

@keyframes semicircle {
  0% {
    transform: rotate(50deg);
  }

  50% {
    transform: rotate(-50deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

.container {
  position: relative;
  transform: translateY(-100px);
}

.container:before {
  content: '';
  position: absolute;
  top: 200px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  animation: animateCircle 4s ease-in-out infinite;
}

@keyframes animateCircle {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(15px);
  }
}

.container:after {
  content: '';
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 800px;
  background-color: #fe4e4e;
  border-radius: 50%;
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  transform: translateY(-100%) translateX(-40px);
  animation: animateBall 4s ease-in-out infinite;
}

@keyframes animateBall {
  0% {
    transform: translateY(-100%) translateX(-40px);
  }

  50% {
    transform: translateY(-100%) translateX(200px);
  }

  100% {
    transform: translateY(-100%) translateX(-40px);
  }
}