body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #000;
}

.content {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

p {
  margin-bottom: 30px;
  text-transform: capitalize;
}

a {
  display: inline-block;
  padding: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  text-transform: capitalize;
}

a:hover {
  color: #000;
  background-color: #fff;
}

img {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card:hover img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
}