@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0fece1;
}

.card {
    position: relative;
    width: 350px;
    height: 85px;
    background-color: #192a56;
    border-radius: 20px;
    transition: 0.5s;
}

.toggle {
    position: absolute;
    width: 70px;
    height: 60px;
    background-color: #192a56;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
}

.toggle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: transparent;
    transform: translateX(calc((100% - 1px) * -1));
    border-top-right-radius: 35px;
    box-shadow: 11px -10px 0 10px #192a56
}

.toggle:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: transparent;
    transform: translateX(calc((100% - 1px)));
    border-top-left-radius: 35px;
    box-shadow: -11px -10px 0 10px #192a56
}

.toggle span {
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.5s;
}

.card.active .toggle span {
    transform: translate(-50%, -50%) rotate(225deg);
}

.card.active {
    height: 420px;
}

.content {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.contentBx {
    position: relative;
    padding: 20px;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contentBx h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
}

.contentBx h2 span {
    font-size: 0.75em;
    font-weight: 400;
    text-transform: capitalize;
}

.contentBx .imgBx {
    position: relative;
    width: 250px;
    height: 250px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
    border: 5px solid #fff;
}

.contentBx .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx button {
    position: relative;
    padding: 10px 35px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #333;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
}