* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f296d;
}

.navigation {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #c22c15;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    width: 200px;
    height: 200px;
}

.navigation span {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0em;
}

.navigation.active span {
    width: 45px;
    height: 45px;
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
    transition-delay: calc(0.1s * var(--i));
    font-size: 1.35em;
}
