@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', Arial, sans-serif;
}

body {
  background-color: #2f2f2f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  position: relative;
  width: 500px;
  height: 500px;
}

h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 500px;
  font-size: 170px;
  text-transform: uppercase;
}

h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

h2:nth-child(2) {
  color: #03a9f4;
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    clip-path: polygon(0% 38%, 15% 40%, 30% 47%, 46% 51%, 62% 50%, 76% 45%, 98% 40%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 46%, 15% 40%, 32% 38%, 43% 48%, 56% 44%, 72% 35%, 98% 40%, 100% 100%, 1% 99%);
  }

  100% {
    clip-path: polygon(0% 38%, 15% 40%, 30% 47%, 46% 51%, 62% 50%, 76% 45%, 98% 40%, 100% 100%, 0% 100%);
  }
}