* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  gap: 40px;
}

.glass {
  position: relative;
}

.glass .inner {
  position: relative;
  width: 200px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  border: 8px solid transparent;
}

.glass .inner:before {
  content: '';
  position: absolute;
  width: 175px;
  height: 30px;
  border: 10px solid #444;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  box-shadow: 0 15px 0 #222;
}

.glass .inner:after {
  content: '';
  position: absolute;
  top: 70px;
  left: 30px;
  width: 50px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.1);
}

.glass .liquid {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #41c1fb;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  animation: animateliquid 5s linear infinite;
}

.glass:nth-child(2) .liquid {
  background-color: #e0bd1f;
  animation-delay: 2.5s;
}

.glass .liquid:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  background-color: #1fa4e0;
  top: -10px;
}

.glass:nth-child(2) .liquid:before {
  background-color: #bb9e1b;
}

@keyframes animateliquid {
  0%, 20% {
    top: 50px;
  }

  50%, 70% {
    top: 320px;
  }

  100% {
    top: 50px;
  }
}