@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  display: block;
  padding: 15px 30px;
  margin: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffeb3b;
}

ul li a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #ffeb3b;
  border-left: 2px solid #ffeb3b;
  transition: all 0.5s;
  box-sizing: border-box;
  transform-origin: left;
}

ul li a:hover:before {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
}

ul li a:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #ffeb3b;
  border-right: 2px solid #ffeb3b;
  transition: all 0.5s;
  box-sizing: border-box;
  transform-origin: right;
}

ul li a:hover:after {
  width: 15px;
  height: 15px;
  transform: rotate(360deg);
}